h1 {font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    align-content: center;
    background: url('https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg'); 
    background-size: cover;
}
.brushes {font-family: Arial, Helvetica, sans-serif;font: size 32px;font-weight: bold; color: white; background-color:mediumspringgreen;}
.frames {font-family: Arial, Helvetica, sans-serif; font: size 100px;font-weight: bold;color: white;align-content: center;
background-color:lightcoral}
.paint {font-family: Arial, Helvetica, sans-serif; font: size 100px;font-weight: bold;color: white;align-content: center;background-color: skyblue;}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18.72px;
    font-weight: 700;
    margin-block-end: 18px;
    margin-block-start: 18px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
}
p span {color: blue;font-weight: bold;}
p {font-family: Arial, Helvetica, sans-serif;}